<mat-card class="contactpage">   
    <mat-card-title>
        Contact Us
    </mat-card-title>
    <mat-card-content>
        <button mat-stroked-button color="primary" routerLink="/home">get home page</button>
        <button mat-stroked-button color="primary" routerLink="/about">get about page</button>
    </mat-card-content>
</mat-card>
<div class="contact"><h1>Contact Form</h1></div>
<mat-card>
    <mat-form-field appearance="fill">
        <mat-label>Enter your name</mat-label>
        <input matInput placeholder="ex: santhi">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Enter your DOB</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br>
    <p>
        <label>Gender</label>
        <mat-radio-group>
            <mat-radio-button value="male">Male</mat-radio-button>
            <mat-radio-button value="female">Female</mat-radio-button>
        </mat-radio-group>
        </p>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Enter Email</mat-label>
            <input matInput placeholder="ex:cat@gmail.com" [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        </mat-form-field>
        <br>
        <p>
            <mat-checkbox [formControl]="disableSelect">Disable select</mat-checkbox>
        </p>
        <mat-form-field appearance="fill">
            <mat-label>choose location</mat-label>
            <mat-select [disabled]="disableSelect.value" >
                <mat-option value="option">Telengana</mat-option>
                <mat-option value="option">karnataka</mat-option>
                <mat-option value="option">Maharastra</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Leave a comment</mat-label>
            <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline" >
              <mat-label>Feedback</mat-label>
              <textarea matInput></textarea>
          </mat-form-field>
          <div class="button">
          <button mat-stroked-button color="accent">Submit</button>
          </div>
</mat-card>
