mat-radio-button{
    margin-left: 20px;
}
 mat-form-field {
    margin-left: 200px;
}
p{
    margin-left:200px;
}
.contact {
    color:red;
    margin:20px;
    text-align: center;
}
body{
    position: relative;
}
.button {
    text-align: center;
}
.contactpage{
    text-align: center;
    margin-top: 20px;
}