<mat-toolbar color="warn" class="mat-elevation-z6">
  <span><button mat-fab color="primary" >Demo</button></span>
<span class="spacer"></span>
  <a mat-button routerLink="/home" routerLinkActive="active" matTooltip="info about the home page">Home</a>
  <a mat-button routerLink="/about" routerLinkActive="active" matTooltip="info about the aboutus page">Aboutus</a>
  <a mat-button routerLink="/contact" routerLinkActive="active"matTooltip="info about the contact page">Contactus</a>
  <a mat-button><mat-icon [matMenuTriggerFor]="navMenu" matTooltip="info about settings and search">search</mat-icon></a>
<mat-menu #navMenu="matMenu">
  <button mat-menu-item><mat-icon>home</mat-icon></button>
  <button mat-menu-item><mat-icon>info</mat-icon></button>
  <button mat-menu-item><mat-icon>settings</mat-icon></button>
  <button mat-menu-item><mat-icon>email</mat-icon></button>
</mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>