/* You can add global styles to this file, and also import other style files */

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; /*background-image: url("/assets/images/background.jpg");*/
}
 app-home{
    position: relative !important;
}
#about{
    position: relative !important;
}
app-contact{
    position: relative !important;
    height: 100%;
}

