/*mat-sidenav-container {
    height:100%;
    width:100%;
}*/
mat-sidenav {
    padding: 20px;
    background-color: black;
    width:400px;
}
.center {
    margin: 30px;
}
[mat-mini-fab] {
    margin :20px;
}
img {
    height: 200px;
    width: 300px;
}
.homebtn {
    text-align: center;
    margin:10px;
}

