<mat-sidenav-container>
    <mat-sidenav mode="side" [(opened)]="opened">
        <mat-menu #menu="matMenu">
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                <button mat-icon-button disabled></button>
    {{node.name}}
            </mat-tree-node>
            <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                <button mat-icon-button matTreeNodeToggle
                        [attr.aria-label]="'toggle ' + node.name">
                  <mat-icon class="mat-icon-rtl-mirror">
                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                  </mat-icon>
                </button>
                {{node.name}}
              </mat-tree-node>
        </mat-tree>
        </mat-menu> 
        <button color="accent" class="center" mat-fab [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
        <button mat-mini-fab><mat-icon matBadge="4" matBadgeColor="warn"matBadgeOverlap="false">add_shopping_cart</mat-icon></button>
        <button mat-mini-fab><mat-icon matBadge="2" matBadgeColor="primary">add_alert</mat-icon></button>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="homebtn">
        <button mat-stroked-button color="primary" (click)="opened=!opened" matTooltip="click this button for sidenav of home page">Home</button>
        </div>
        <mat-grid-list cols="3" rowHeight="1:1">
            <mat-grid-tile>
        <mat-card>
            <mat-card-title>
                Printed kurti
            </mat-card-title>
            <img mat-card-image src="assets/images/kurti.jpg">
            <mat-card-subtitle>
                <p>RS.495/piece</p>
                <p>BY. ms.corporation</p>
            </mat-card-subtitle>
            <mat-card-actions>
                <button mat-stroked-button color="primary" routerLink="/addcart">AddtoCart</button>
            </mat-card-actions>
        </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card>
                    <mat-card-title>
                        Asus vivo notebook14
                    </mat-card-title>
                    <img mat-card-image src="assets/images/laptop.jpg">
                    <mat-card-subtitle>
                       <p> RS.25495/-</p>
                        <p>BY. ms.corporation</p>
                    </mat-card-subtitle>
                    <mat-card-actions>
                        <button mat-stroked-button color="primary" routerLink="/addcart">AddtoCart</button>
                    </mat-card-actions>
                </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card>
                            <mat-card-title>
                                Samsung mobile
                            </mat-card-title>
                            <img mat-card-image src="assets/images/mobile.jpg">
                            <mat-card-subtitle>
                               <p> RS.17999/-</p>
                                <p>by samsung company</p>
                            </mat-card-subtitle>
                            <mat-card-actions>
                                <button mat-stroked-button color="primary" routerLink="/addcart">AddtoCart</button>
                            </mat-card-actions>
                        </mat-card>
                            </mat-grid-tile>
        </mat-grid-list>    
    </mat-sidenav-content>
</mat-sidenav-container>

<app-about id ="about"></app-about>
<app-contact></app-contact>

        

